<div class="modal fade" id="wip-modal" tabindex="-1" aria-labelledby="wip-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content wip-modal-content">
            <div class="modal-body wip-modal-body">
                <div class="wip-modal-icon">
                    <svg viewBox="0 0 24 24" width="30" height="30" fill="none" stroke="#0c5faf" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M14.5 6.5a4 4 0 0 0-5.4 5.1L4 16.7V20h3.3l5.1-5.1a4 4 0 0 0 5.1-5.4l-2.6 2.6-2.5-.9-.9-2.5Z" />
                    </svg>
                </div>
                <div>
                    <h5 class="wip-modal-title" id="wip-modal-title">Funcionalidad en desarrollo</h5>
                    <p class="wip-modal-text">Esta funcionalidad estará disponible próximamente.</p>
                </div>
            </div>
            <div class="wip-modal-actions">
                <button type="button" class="btn btn-ceplan" data-bs-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>
